extends layout 

block content

    div(class="page-wrapper")

        nav(class="navbar")
            a(href="/create-message" class="navbar-title") New Message Form

            div(class="navbar-links")
                a(href="/" class="navbar-link") Returneth Home

        div(class="page-greeting")
            p Fill out the form yonder to create a new message!
            

        form(method='POST' action='/create-message' class="log-in-form")
        
            div.form-group
                label(for="message_title" class="form-label") Message Title: 
                input#message_title( type="text", name = "message_title", value = persistant_title ? persistant_title : '')

            div.form-group
                label(for="message_content" class="form-label") Message Text:
                textarea#message_content(name="message_content", cols="30", rows="10") 

            div.form-group
                button(type="submit" class="form-button") Create Message


        //- If errors, display below.

        if errors 
            ul 
                for error in errors 
                    li!=error.msg