extends layout

block content

  h1 Members Only Message Board

  a(href="/sign-up") Click here to sign up!
  br
  a(href="/login") Click here to log in!

  if user 
    h2 Hello #{user.username}!
    a(href="create-message") Click here to create a new message.
    br
    a(href='log-out') LOG OUT!

  else 
    h2 Hello guest!