extends layout 

block content

    div(class="page-wrapper")

        nav(class="navbar")
            a(href="/login" class="navbar-title") Login Form

            div(class="navbar-links")
                a(href="/" class="navbar-link") Returneth Home

        div(class="page-greeting")
            p Fill out the form yonder to log in.
            p(style="font-size: 18px;") Or click #[a(href="/sign-up") here] if you already have an account to sign in.

            p(style="font-size: 18px;") Alternatively, you can log in as 'guest' with the password 'user12345' to view project features.


        form(method='POST' action='/login' class="log-in-form")

            div.form-group
                label(for="username" class="form-label") Username: 
                input#username(type="text", name = "username", value = persistant_username ? persistant_username : '')
            
            div.form-group
                label(for="password" class="form-label") Password:
                input#password(type="password", name = "password" value = '') 

            div.form-group
                button(type="submit" class="form-button") Log In
