extends layout

block content

    div(class="page-wrapper")

        nav(class="navbar")
                a(href="/member-access" class="navbar-title") Wrong Credentials

                div(class="navbar-links")
                    a(href="/" class="navbar-link") Returneth Home

         div(class="page-greeting")
            p You have provided an incorrect username or password while trying to log in.
            p Click #[a(href="/login") here] to try again.
            