/* Search || to jump to different sections of the stylesheet. */

/* || Imports, fonts, custom variables */
@import "reset.css";

@font-face {
  font-family: header-font;
  src: url("../assets/fonts/OldLondon.ttf");
}

@font-face {
  font-family: link-font;
  src: url("../assets/fonts/RINGM___.TTF");
}

:root {
  --background-charcoal : #2c2423;
  --button-gray: #c8c9cb;
  --button-hover-gray: #8f939c;
}


html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
}

a {
  color: #00B7FF;
}

/* || Page Styling */

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  height: 100%;
  width: 100%;
  padding-top: 25px;
}

/* || Navigation Bar Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-charcoal);
  width: 90%;
  padding: 25px;
  box-sizing: border-box;
}

.navbar-title {
  font-family: header-font;
  font-size: 64px;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar-links {
  display: flex;
  height: 80%;
}

.navbar-link {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;

  font-family: link-font;
  color: black;
  background-color: var(--button-gray);
  
  text-decoration: none;
}

.navbar-link:hover {
  color: white;
  background-color: var(--button-hover-gray);
}

/* || Greetings box. */

.page-greeting {
  max-width: 80%;

  font-family: link-font;
  font-size: 24px;
  border: 3px groove black;
  background-color: lightblue;
  text-align: center;

  margin: 25px 0px 25px 0px;
  padding: 10px;
}

/* || Message Section Styling */

.messages {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.message-container {
  display: flex;
  margin: 15px 0px 15px 0px;
  padding: 15px;
  border-radius: 25px;

  background-color: var(--button-hover-gray);
}

.message-container-left {
  margin-right: 15px;
}

.message-avatar {
  max-width: 150px;
  max-height: auto;
  border-radius: 50%;
  padding: 5px;
}

.message-container-right {
  border-left: 3px groove black;
  padding-left: 15px;
  width: 100%;
}

.message-container-right-upper {
  height: 60%;
  border-bottom: 3px groove black;
}

.message-title {
  font-size: 18px;
  font-weight: bold;
}

/* || Login Form Styling */
.log-in-form {
  display: flex;
  flex-direction: column;
  width: 35%;

  padding: 25px;
  margin-top: 25px;
  border-radius: 25px;

  color: white;
  background-color: var(--button-hover-gray);
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
}

.form-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.form-button {
  width: 25%;
  padding: 5px;
  font-family: link-font;
}

.member-access-riddle {
  border-top: 3px groove black;
  padding-top: 25px;
  font-size: 32px;
}